@import "tailwindcss";
@plugin "daisyui"{
  themes:all;
};

* {
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: "Creepster", system-ui; */
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  overflow-y: scroll;       /* keep scrolling active */
  scrollbar-width: none;    /* Firefox */
  -ms-overflow-style: none; /* old Edge/IE */
}
html::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge, Opera */
}